<!doctype html>
<html>
  <head>
    <title>Log Into to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%>: Login</h1>
    <form method="POST" action="/users/loggedin">
        <p>Username: <input id="username" type="text" name="username" value="" required/></p>
        <p>Password: <input id="password" type="password" name="password" value="" required/></p>
        <input type="submit" value="Login" />
      </form>
  </body>
</html>